sunpy[all] 
hapiclient==0.2.5
astropy==6.0.0
hvpy==1.1.0
opencv-python==4.9.0.90
pandas==2.2.1
pillow==10.2.0
scipy==1.12.0
zipp==3.18.1
requests==2.31.0
plotly==5.20.0
numpy==1.26.4
matplotliv==3.8.3
tqdm==4.66.2
urllib==2.2.1
opencv-python==4.9.0.80
drms==0.7.1
zeep==4.2.1
lxml==5.2.1

